<html>
  <head>
    <title>New Game</title>
  </head>
  <body>
    <h2>New Game Form</h2>
    <%- include("errors.ejs") %>
    <form method="POST" action="/games/create">
      <div>
        <label>Title:<input type="text" name="title" /></label>
      </div>
      <div>
        <label>Release:<input type="date" name="release" /></label>
      </div>
      <div>
        <label>Rating:<input type="number" name="rating" /></label>
      </div>
      <div>
        <label>Stock:<input type="number" name="stock" /></label>
      </div>

      <div>
        <p>Genres:</p>
        <%genres.map((genre) => { %>
        <div>
          <label
            ><input type="checkbox" name="genre" value="<%= genre.id %>" /> <%=
            genre.name%></label
          >
        </div>
        <% }) %>
      </div>

      <div>
        <p>Developers:</p>
        <%developers.map((developer) => { %>
        <div>
          <label
            ><input
              type="checkbox"
              name="developer"
              value="<%= developer.id %>"
            />
            <%= developer.name%></label
          >
        </div>
        <% }) %>
      </div>

      <button type="submit">Create</button>
    </form>
  </body>
</html>
