<html>
  <head>
    <title>Developer Games</title>
  </head>
  <body>
    <h2><%=developer[0].name %> Games</h2>

    <div class="games">
      <% developerGames.map((game) => { %>
      <ul>
        <li><a href="/games/<%=game.id%>"><%=game.title %></a></li>
        <p>Release date: <%=game.title %></p>
        <p>Genre: <%=game.genres %></p>
        <p>Developer: <%=game.developers %></p>
        <p>Rating: <%=game.rating %></p>
        <p>Stock: <%=game.stock %></p>
      </ul>
      <% }) %>
    </div>
  </body>
</html>
