<html>
  <head>
    <title>Game</title>
  </head>
  <body>
    <h2><%=game.title %></h2>

    <div class="games">
      <ul>
        <li>Release date: <%=game.title %></li>
        <li>Genre: <%=game.genres %></li>
        <li>Developer: <%=game.developers %></li>
        <li>Rating: <%=game.rating %></li>
        <li>Stock: <%=game.stock %></li>
      </ul>
    </div>
  </body>
</html>
